.idea
analysis/input
CustomerCluster/input
CustomerCluster/output
GermanCredit/input
GermanCredit/images
GermanCredit/input
HRAnalytics/input
LogisticRegression/input
NaiveBayesianClassfication/input
Scorecard/input
Titanic/input
nlp/data
nlp/image
pandas/input
seaborn/input
sklearn/image
sklearn/output
tensorflow/log
tensorflow/mnist
woe/input
woe/output